@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your global CSS if not already using a plugin */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  